// Custom CSS
/*Santhosh*/

.mainContent{
	display: grid;
	grid-template-columns: 240px auto 240px;
	grid-template-rows: auto;
	grid-auto-rows: auto;

	.asideLeft{
		background-color: blue;
		height: 500px;
		grid-column: 1/2;
	}

	.asideRight{
		background-color: red;
		height: 500px;
		grid-column: 3/4;
	}

	.centerContent{
		background-color: white;
		height: 500px;
		grid-column: 2/3;

		.innerGrid{
			border: 1px solid black;
			display: grid;
			.grids{
				background-color: gold;
				height: 400px;
			}

			.flexs{
				background-color: magenta;
				height: 400px;
			}
		}
	}
}
/********************************************************************************/
/* Tablet */
/********************************************************************************/
@media (max-width: 1170px) and (min-width: 990px){
	.mainContent{
		.centerContent{

			.innerGrid{
				grid-template-columns: 50% 50%;
				grid-template-rows: auto;

				.grids{
					grid-column: 1/2;
				}

				.flexs{
					grid-column: 2/3;
				}
			}
		}
	}
}

/*******************************************************************************/
/* Mobile SM */
/*******************************************************************************/
@media (max-width: 989px) and (min-width: 750px){
	.mainContent{
		.centerContent{

			.innerGrid{
				grid-template-columns: 50% 50%;
				grid-template-rows: auto;

				.grids{
					grid-column: 1/2;
				}

				.flexs{
					grid-column: 2/3;
				}
			}
		}
	}
}
/*Stephen*/