/*Santhosh*/
/* line 5, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent {
  display: grid;
  grid-template-columns: 240px auto 240px;
  grid-template-rows: auto;
  grid-auto-rows: auto;
}

/* line 11, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent .asideLeft {
  background-color: #0082CB;
  grid-column: 1/2;
}

/* line 16, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent .asideRight {
  background-color: #FF7557;
  grid-column: 3/4;
}

/* line 21, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent {
  background-color: white;
  height: 500px;
  grid-column: 2/3;
  grid-row: 1/2;
}

/* line 27, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent .innerGrid {
  border: 1px solid black;
  display: grid;
}

/* line 30, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent .innerGrid .grids {
  background-color: gold;
  height: 400px;
}

/* line 35, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent .innerGrid .flexs {
  background-color: magenta;
  height: 400px;
}

/********************************************************************************/
/* Tablet */
/********************************************************************************/
@media (max-width: 1170px) and (min-width: 990px) {
  /* line 49, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  /* line 53, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .grids {
    grid-column: 1/2;
  }
  /* line 57, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .flexs {
    grid-column: 2/3;
  }
}

/*******************************************************************************/
/* Mobile SM */
/*******************************************************************************/
@media (max-width: 989px) and (min-width: 750px) {
  /* line 72, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  /* line 76, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .grids {
    grid-column: 1/2;
  }
  /* line 80, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .flexs {
    grid-column: 2/3;
  }
}

/*Stephen*/
/* Tablet */
@media (max-width: 1170px) {
  /* line 91, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent {
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
  /* line 98, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .asideLeft {
    grid-column: 1/2;
    grid-row: 1/auto;
  }
  /* line 103, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .asideRight {
    grid-column: 1/2;
    grid-row: 3/auto;
  }
  /* line 108, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent {
    grid-column: 2/auto;
  }
}

/* Mobile */
@media (max-width: 750px) {
  /* line 117, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-auto-rows: auto;
  }
  /* line 124, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .asideLeft {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  /* line 129, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .asideRight {
    grid-column: 1/2;
    grid-row: 4/8;
  }
  /* line 134, /Users/marshs2/Documents/github/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent {
    grid-column: 1/2;
  }
}

/*# sourceMappingURL=../styles/style.map */