@import '_colors.scss';
// Custom CSS
/*Santhosh*/
body{
	font-family: 'Helvetica', 'Arial';
	background: $subgrid;
}
.container-fluid {
	padding: 0;
}
@mixin padding($pad) {
          padding: $pad;
		  color: white;
		  font-size: 17px;
}
.header{
	padding: 5% 0%;
	text-align: center;
	background-color: white;

	.heading{
		font-size: 7.5em;
		text-transform: uppercase;
	}	

	.subHeading{
		font-size: 1.5em;
		font-weight: 600;
		margin-top: 3%;
	}
}
.mainContent{
	display: grid;
	grid-template-columns: 240px auto 240px;
	grid-template-rows: auto;
	grid-auto-rows: auto;

	
	.asideLeft{
		background-color: $leftAside;
		grid-column: 1/2;
		@include padding(33px);

		h2 {
			margin-bottom: 15%;
			text-align: center;
		}
	}

	.asideRight{
		background-color: $rightAside;
		grid-column: 3/4;
		@include padding(33px);
		h2{
		margin-bottom: 15%;
		text-align: center;
		}
	}

	.centerContent{
		background-color: white;
		grid-column: 2/3;
		grid-row: 1/2;

		.innerGrid{
			border: 1px solid black;
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto;
			padding: 22px;
			background: $border;
			text-align: center;
			h3 {
				font-weight: bold;
			}
			img {
				height: 290px;
				width: 450px;
			}
			p {
				padding: 22px;
				font-size: 18px;
			}
			.grids{
				grid-column:1/2;
    			margin-right: 15px;
				background-color:$white;
			}

			.flexs{
				grid-column:2/3;
				background-color:$white;
			}
		}
	}
}

.baseline-content {
	h2 {
		text-align: center;
		font-weight: 600;
	}
	p {
		font-size: 18px;
		margin-top: 18px;
	}
	padding: 25px;
}

.magical {
	@extend .baseline-content;
	background-color: $magical;
}

.subgrid {
	@extend .baseline-content;
	background-color: $subgrid;
}

.footer {
	padding: 20px 0;
	color: $white;
	background: $black;
	font-size: 1.2em;
	
	a, a.link:hover,a.link:active,a.link:visited,a.link:focus  {
		text-decoration: underline;
		color: white !important;
	}
}
/********************************************************************************/
/* Tablet */
/********************************************************************************/
@media (max-width: 1170px) and (min-width: 990px){
	.mainContent{
		.centerContent{

			.innerGrid{
				grid-template-columns: 50% 50%;
				grid-template-rows: auto;

				.grids{
					grid-column: 1/2;
				}

				.flexs{
					grid-column: 2/3;
				}
			}
		}
	}
}

/*******************************************************************************/
/* Mobile SM */
/*******************************************************************************/
@media (max-width: 989px) and (min-width: 750px){
	.mainContent{
		.centerContent{

			.innerGrid{
				grid-template-columns: 50% 50%;
				grid-template-rows: auto;

				.grids{
					grid-column: 1/2;
				}

				.flexs{
					grid-column: 2/3;
				}
			}
		}
	}
}

/******************************************************************************/
/* Mobile XS */
/******************************************************************************/
@media (max-width: 750px){
	.mainContent{
		.centerContent{

			.innerGrid{
				grid-template-columns: auto;
				grid-template-rows: auto;

				.grids{
					grid-column: auto;
					grid-row: 1/2;
					margin-right: 0px;
				}

				.flexs{
					grid-column: auto;
					grid-row: 2/3;
				}
			}
		}
	}
}

/*Stephen*/
/* Tablet */
@media (max-width: 1170px){
  .mainContent {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
	.mainContent{
		.asideLeft{
			grid-column: 1/2;
			grid-row: 1/auto;
		}

		.asideRight{
			grid-column: 1/2;
			grid-row: 3/auto;
		}

		.centerContent{
			grid-column: 2/4;
		}
	}

}

/* Mobile */
@media (max-width: 750px){
  .mainContent {
    grid-template-columns: auto;
    grid-template-rows: 33% 33% 33%;
    grid-auto-rows: auto;
  }
	.mainContent{
		.asideLeft{
			grid-column: 1/2;
			grid-row: 2/3;
		}

		.asideRight{
			grid-column: 1/2;
			grid-row: 3/4;
		}

		.centerContent{
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}
}
