/*Santhosh*/
/* line 4, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent {
  display: grid;
  grid-template-columns: 240px auto 240px;
  grid-template-rows: auto;
  grid-auto-rows: auto;
}

/* line 10, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent .asideLeft {
  background-color: blue;
  height: 500px;
  grid-column: 1/2;
}

/* line 16, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent .asideRight {
  background-color: red;
  height: 500px;
  grid-column: 3/4;
}

/* line 22, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent {
  background-color: white;
  height: 500px;
  grid-column: 2/3;
  grid-row: 1/2;
}

/* line 28, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent .innerGrid {
  border: 1px solid black;
  display: grid;
}

/* line 31, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent .innerGrid .grids {
  background-color: gold;
  height: 400px;
}

/* line 36, E:/Santhosh/Grid-Pile/SCSS/style.scss */
.mainContent .centerContent .innerGrid .flexs {
  background-color: magenta;
  height: 400px;
}

/********************************************************************************/
/* Tablet */
/********************************************************************************/
@media (max-width: 1170px) and (min-width: 990px) {
  /* line 50, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  /* line 54, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .grids {
    grid-column: 1/2;
  }
  /* line 58, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .flexs {
    grid-column: 2/3;
  }
}

/*******************************************************************************/
/* Mobile SM */
/*******************************************************************************/
@media (max-width: 989px) and (min-width: 750px) {
  /* line 73, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  /* line 77, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .grids {
    grid-column: 1/2;
  }
  /* line 81, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent .innerGrid .flexs {
    grid-column: 2/3;
  }
}

/*Stephen*/
/* Tablet */
@media (max-width: 1170px) {
  /* line 92, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent {
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
  /* line 99, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .asideLeft {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  /* line 104, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .asideRight {
    grid-column: 1/2;
    grid-row: 3/9;
  }
  /* line 109, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent {
    grid-column: 2/6;
  }
}

/* Mobile */
@media (max-width: 750px) {
  /* line 118, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-auto-rows: auto;
  }
  /* line 125, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .asideLeft {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  /* line 130, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .asideRight {
    grid-column: 1/2;
    grid-row: 4/8;
  }
  /* line 135, E:/Santhosh/Grid-Pile/SCSS/style.scss */
  .mainContent .centerContent {
    grid-column: 1/2;
  }
}

/*# sourceMappingURL=../styles/style.map */